<h1>Editing cliente</h1>

<%= render "form", cliente: @cliente %>

<br>

<div class="button">
  <%= link_to "Mostrar cliente", @cliente, class:"btn btn-outline-secondary" %>
  <%= link_to "Volver clientes", clientes_path, class:"btn btn-outline-secondary" %>
</div>
