<div id="<%= dom_id pelicula %>">


  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Cliente ID</th>
        <th scope="col">Nombre cliente</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> <%= pelicula.nombre %></th>
        <td> <%= pelicula.cliente_id %> </td>
        <td> <%= pelicula.cliente.nombre %> </td>
      </tr>
    </tbody>
  </table>


</div>
