<h1 class="my-5">Editar película</h1>

<%= render "form", pelicula: @pelicula %>

<br>

<div class="button">
  <%= link_to "Mostrar película", @pelicula, class:"btn btn-outline-secondary" %>
  <%= link_to "Volver a películas", peliculas_path, class:"btn btn-outline-secondary" %>
</div>
